:root {
    --red: #f00;
}

@custom-media --small-only screen and (max-width: 47.9375em);

.super-style {
    display: flex;

    &__name {
        color: var(--red);
        width: calc(100px + 20px);
    }

    @media (--small-only) {
        & + & {
            margin-top: 40px;
        }
    }
}
